
.sidebar {
    padding-left: 26px;
    padding-top: 62px;
    position: fixed;
    left: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.sidebar-home{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}
.sidebar-icon{
    background-color: white;
    height: 20px;
    width: 20px;
    cursor: pointer; 
}
.Home-text {
    font-weight: bold;
    cursor: pointer;
    text-decoration:none;
	color: black;
}
.Text-underline {
    text-decoration:none;
	color: black;  
}
.Text-underline-bottom {
	color: #3b3939; 
    text-decoration:none;
}

.profile-picture {
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
}

.sidebar-text {
    max-width: 150px;
    display: inline-block;
}

.sidebar-link {
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-bottom: px;
    padding-top: px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px; 
}

.sidebar-link-text {
    padding-left: 13px;
    display: flex;
    text-align: left;
    margin-right: 0;
    flex:1;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.sidebar-you-link {
    padding-top: 8.5px;
    padding-bottom: 11px;
    font-size: 15.5px;
    cursor: pointer;
}

.greater-than {
    
    font-weight: bold;
   
}


.sidebar-link-text:hover {
    background-color: #f3f1f1;
    border-radius: 10px;
}
    
.sidebar-text:hover {
    cursor: pointer;
}

.container {
    position: fixed;
    overflow: block;
    overflow-y: scroll;
    top: 56px;
    bottom: 0;
    max-width: 204px;
}

::-webkit-scrollbar{
  width: 8px;      
}
::-webkit-scrollbar-track {
    border: 2px solid white;
    border-radius: px;
}
::-webkit-scrollbar-thumb {
    background: #958989;
    border-radius: 8px;
}

.span {
  font-size: 8px;  
}

.sidebar-bottom {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    margin-left: px;
    margin-left: px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 1px;
    margin-bottom: 11px;
    line-height:19px;
}

.sidebar-bottom-text-edit {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px; 
  width: 100%;
  font-weight:500;
  line-height: 16px;
  color: #3b3939;
}

.google {
    font-size: 12px;
    color: rgb(144, 144, 144);
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}

.line-setting {
    color:rgb(232, 227, 227) ;
    font-size: 10px;
    margin: 0;
    padding: 0;
    padding-bottom: 11px;
    padding-right:-10px;
}

.space-button {
    font-size: large;
    padding-top:10px ;
    padding-bottom:10px; 
    padding-left: 10px;
    padding-right:127px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    cursor: pointer;
}
.space-button:hover {
    background-color: #f3f1f1;
    border-radius: 8px; 
}

.topbar-logo,
.sidebar-link-text,
.sidebar-link,
.sidebar-you-link,
.test-you-div {
    display: flex;
    justify-content: left;
    position: relative;
}

.sidebar-link-text .tooltip2,
.test-you-div .tooltip2 {
    position: absolute;
    background-color: #ffffff;
    color: black;
    padding: 6px 6px;
    font-family: sans-serif;
    font-size: 11px;
    bottom: -22px;
    right: 55px;
    font-weight: 100;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    border-color: #040303;
    cursor: pointer;
    z-index:500 ;
    width: fit-content; 
}

.sidebar-link .tooltip1,
.sidebar-you-link .tooltip2 {
    position: absolute;
    background-color: #ffffff;
    color: black;
    padding: 6px 6px;
    font-family: sans-serif;
    font-size: 11px;
    bottom: -33px;
    right: -40px;
    left: 1px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    border-color: #040303;
    cursor: pointer;
    z-index:500 ;
    width: fit-content;
}

.test-you-div:hover .tooltip2 {
    opacity: 1;
    transition: 1.0s;
    border: 1px groove  black;
}

.sidebar-link:hover .tooltip1,
.sidebar-you-link:hover .tooltip2,
.sidebar-link-text:hover .tooltip2 {
    opacity: 1;
    transition: 1.0s;
    border: 1px groove  black;
}


@media (max-width: 601px) {
    .sidebar {
        display: none;
    }

    body {
        margin-left: 5px;
        transition: 0.5s;
    }        
}


